<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Narayan</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='img/circle-cropped.png')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/circle-cropped.png')}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/circle-cropped.png')}}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/circle-cropped.png')}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/circle-cropped.png')}}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='img/circle-cropped.png')}}" sizes="32x32">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tailwind.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PT5VNR57G8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PT5VNR57G8');
    </script>
    <style>
        html { 
        scroll-behavior: smooth; 
    }
    </style>
    {% block styles %}
    {% endblock %}
</head>

<body class="bg-zinc-900 font-['Poppins'] pb-12 flex flex-col h-screen" >
    {% if current_user.is_authenticated %}
    <div class="text-white bg-green-500 text-center p-5">
       <a href="{{url_for('auth.logout')}}">SuperAdmin Mode</a>
    </div>
    {%endif%}
    <header class="py-6">
        <div class="container flex justify-between items-center  mx-auto w-full md:px-14 lg:px-24 px-8">
            <a href="{{url_for('home')}}"><div class=" md:text-4xl sm:text-3xl text-2xl font-semibold text-white"> <span class="text-purple-700 hover:text-white" >adithya</span>.<span class="hover:text-purple-700" >narayan</span></div></a>
            
            <div class="hidden text-white md:flex space-x-12 items-center" >
                <a href="#home" class="">Home</a>
                <a href="#TechStack">TechStack</a>
                <a href="#bot">Bot</a>
                <a href="#project">Projects</a>
                <a href="{{url_for('static',filename='files/adithya.pdf')}}" download> <button class="rounded-full px-6 py-2 font-bold hover:bg-purple-400 bg-purple-900" >Resume</button></a>
            </div>
            <div class="md:hidden hover:bg-fuchsia-600 p-2 rounded-full">
                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 17.5H0.25V14.6667H13V17.5ZM25.75 10.4167H0.25V7.58333H25.75V10.4167ZM25.75 3.33333H13V0.5H25.75V3.33333Z" fill="white"/></svg>
            </div>
        </div>
    </header>

    {% block body %}

    {% endblock %}
    <h1 class="text-center text-purple-300"> Bot Coming Soon....</h1>
    <footer class="bg-purple-500 flex flex-col md:flex-row text-center text-purple-300 bottom-0 mt-5 p-10 justify-between " >
        <a href="https://github.com/NarayanAdithya"><h1 class="font-bold sm:text-lg text-md" >GitHub</h1></a>
        <a href="https://www.linkedin.com/in/adithya-narayan-3747081a3/"><h1 class="font-bold sm:text-lg text-md" >LinkedIn</h1></a>
        <a href="mailto:adithyanarayan1234@gmail.com"><h1 class="font-bold sm:text-lg text-md" >Mail</h1></a>
        <!-- <h1 class="font-bold sm:text-lg text-md" >LeetCode</h1>
        <h1 class="font-bold sm:text-lg text-md" >CodeChef</h1> -->
    </footer>
      
</body>
</html>