{% extends 'base.html' %}

{% block styles %}
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/bot/chat');
        socket.on('received_message',function(msg){
                console.log(msg.data[0].text);
                var elem="<div  class=\" justify-self-start bot_message sm:m-2 bg-emerald-600 w-1/2 rounded-md p-2\" ><h6 class=\"text-md\" ><u>Adi Bot</u></h6><p class=\"md:text-sm  text-xs\">"+msg.data[0].text+"</p></div>";
                var message=document.getElementById('message').value;
                var textarea=document.getElementById('user_message');
                textarea.innerHTML+=elem;
                textarea.scrollTop = textarea.scrollHeight;
            });
    });
</script>
<style>
    #user_message::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    }

    #user_message::-webkit-scrollbar-track {
    background: rgb(88 28 135);        /* color of the tracking area */
    }

    #user_message::-webkit-scrollbar-thumb {
    background-color: rgb(192 132 252);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(88 28 135);  /* creates padding around scroll thumb */
    }
</style>
{% endblock %}

{% block body %}
    <div id="warning" class="visible sm:hidden container mt-48 mb-48 text-3xl font-bold text-red-500 text-center mx-auto w-full md:px-14 lg:px-24 px-8 hover:underline hover:text-purple-600 hover:decoration-wavy hover:decoration-purple-600">
        <h3>Open the Website On Your Laptop For All Features</h3>
    </div>
    <div id="home" class="container  mt-16 flex justify-between items-center mx-auto w-full md:px-14 lg:px-24 px-8">
        <div class="flex flex-wrap md:flex-nowrap">
            <div class="flex  flex-wrap lg:ml-20 justify-center md:justify-start max-w-xl mt-0 md:my-36">
                <h1 class="font-bold text-5xl md:text-6xl lg:text-7xl text-center text-white md:text-left"> <span class="text-purple-800" >D</span><span class="hover:text-purple-600 animate-pulse" >eterminant</span>  <br> <span class="text-purple-800" >S</span><span class="hover:text-purple-600 animate-pulse" >tressed</span> <br> <span class="text-purple-800" >M</span><span class="hover:text-purple-600 animate-pulse" >eticulous</span><br><span class="text-purple-800" >W</span><span class="hover:text-purple-600 animate-pulse" >illing</span></h1>
                
            </div>
            <img src="{{url_for('static', filename='img/adithya.jpeg')}}" alt="Man" class="aspect-auto rounded-full invisible md:visible border-2 hover:border-8 hover:border-purple-500  border-purple-800 w-1/2 mt-12 md:absolute-mt-6 align-middle ml-4 md:mt-5 right-0-z-1">
        </div>
    </div>
    
    <div id="TechStack" class="  container mt-48 mb-10 text-3xl font-bold text-white text-center mx-auto w-full md:px-14 lg:px-24 px-8 hover:underline hover:text-purple-600 hover:decoration-wavy hover:decoration-purple-600">
        <h3>Tech Stack</h3>
    </div>
    <div class="md:p-8" >
        <div class="container border-4 border-dashed border-purple-400 rounded-md  mx-auto  md:px-14 lg:px-20 px-8" >
            <div class="mx-4 my-5 gap-8 h-auto  p-2 columns-1 sm:columns-2 lg:columns-3 space-y-8  ">
                {% if techstack %}
                {% for i in techstack %}
                <div class="flex  flex-col flex-wrap break-inside-avoid-column">
                    <div class="  border-t-2  hover:border-4 hover:border-purple-300 border-purple-700 bg-purple-300 bg-opacity-25 rounded-lg p-6 ">
                        <img src="{{ url_for('static',filename='img/tech_stack/'+i.image_name) }}" class="w-10 mx-auto" alt="">
                        <h1 class="text-center text-2xl text-purple-100  font-bold">{{i.name}}</h1>
                        <p class="text-center text-purple-50">{{i.description}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                
            </div>
               
            </div>
    </div>
    {% if projects %}
    <div id="project" class="  container mt-20 mb-10 text-3xl font-bold text-white text-center mx-auto w-full md:px-14 lg:px-24 px-8 hover:underline hover:text-purple-600 hover:decoration-wavy hover:decoration-purple-600"" >
        <h3>Projects</h3>
    </div>
    <div class="container border-dashed border-purple-500 lg:p-4 border-4 rounded sm:mx-auto p-2 w-full grid md:grid-cols-2 lg:grid-cols-4 place-content-evenly grid-cols-1   gap-8" >
       {% for p in projects %}
        <div class=" rounded bg-purple-500 border-purple-500 hover:border-2 bg-opacity-25  hover:shadow-lg hover:shadow-purple-500/50 ">
            <img class="w-full rounded" src="{{url_for('static',filename='img/projects/'+p.image_name)}}" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl text-purple-400 text-center mb-2 underline">{{p.name}}</div>
              <p class="text-purple-300 text-base hover:text-purple-200 hover:font-semibold">
               {{p.description}}
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <a href="{{p.github}}"><span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold hover:border-purple-900  hover:bg-purple-200 text-purple-900 mr-2 mb-2">#github</span></a>
              {% if p_tags %}
                {% for i,x in p_tags[loop.index-1].items() %}
              <a href="{{x}}"><span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold hover:border-purple-900  hover:bg-purple-200 text-purple-900 mr-2 mb-2">#{{i}}</span></a>
                {% endfor %}
                {% endif %}
                {% if p.status==0 %}
                <span title="WorkInProgress" class="inline-block bg-rose-500 rounded-full px-3 py-1 text-sm font-semibold  text-rose-900 mr-2 mb-2">WIP</span>
                {%endif%}
            </div>
          </div>
        {% endfor %}
    </div>
    {%endif%}
        <div id="bot" class="container rounded-md mt-24 mb-24 p-10 mx-auto border-purple-400 border-4 bg-purple-300 bg-opacity-25  w-full md:w-3/4  " >
            <h3 class="text-center text-2xl text-white" >Adi Bot - <span class="text-red-500" >Beta Up</span></h3>
            <div id="user_message" class=" rounded-md grid grid-cols-1 bg-purple-700 p-2 sm:p-5 bg-opacity-75 overflow-auto max-h-96  ">
                <div  class=" justify-self-start bot_message sm:m-2 bg-emerald-600 w-1/2 rounded-md p-2" >
                    <h6 class="text-md" ><u>Adi Bot</u></h6>
                    <p class="md:text-sm  text-xs">Hey, I am AdiBot also known as <b>Adi Bhatt</b> . I have been developed to address your needs. I will try to imitate Adithya to the best of my abilites. You can ask me the following:
                        <ul class="list-disc md:text-md text-xs p-5" >
                            <li>Projects</li>
                            <li>Tech Stack</li>
                            <li>Experiences</li>
                            <li>Lifestyle</li>
                        </ul>
                        <p class=" text-red-900 text-sm " >*All Messages are Recorded</p>
                    </p>
                </div>
            </div>
            <div class="text-center mt-3" >
                <input type="text" class="rounded-full m-2 p-2 text-center" id="message" placeholder="Enter Message" size="20" name="message" id=""> <button onclick="add_user_message()" class="rounded-full px-4 py-2 border-2 border-emerald-300 bg-emerald-600" >Send</button>
            </div>
            
        </div>
        
        <script>
            
            function remove_warning()
            {
                document.getElementById('warning').className+=' hidden';
            };
            setTimeout(remove_warning,5000);
            function add_user_message()
            {
                var message=document.getElementById('message').value;
                var textarea=document.getElementById('user_message');
                var element = "<div  class=\" justify-self-end user_message m-2 text-right bg-purple-500 w-1/2 rounded-md p-2\" ><h6 class=\"text-md\" ><u>You</u></h6><p class=\"text-sm\">"+message+"</p></div>";
                textarea.innerHTML+=element;
                textarea.scrollTop = textarea.scrollHeight;
                socket.emit('postmessage', {'msg':message});
                document.getElementById('message').value='';
            };
        </script>
{% endblock %}