{% extends 'base.html' %}


{% block body %}
<div class="container mt-32 mx-auto">
    <h1 class="text-5xl font-bold text-red-900 text-center">Why are you trying to sign In? It's not for you</h1>
      
      <svg xmlns="http://www.w3.org/2000/svg" class="h-96 text-red-900 mx-auto w-96 text-center" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
</div>
{% endblock %}